.sign-up-container {
  position: fixed;
  background-color: rgba(255, 77, 109, 0.1);
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: fade-in-background 1s;
  transition: all 1s;
}
.sign-up-container.closed {
  display: none;
}
.sign-up-container.closing {
  background-color: transparent;
}
.sign-up-container.closing form {
  left: -100%;
}
.sign-up-container .close {
  position: absolute;
  width: fit-content;
  right: 15px;
  top: 15px;
  height: 50px;
  min-width: 50px;
  cursor: pointer;
}
.sign-up-container .close::before, .sign-up-container .close::after {
  content: "";
  display: block;
  background-color: #ffb3c1;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 5px;
  min-width: 40px;
  border-radius: 5px;
  transition: all 0.25s;
}
.sign-up-container .close::before {
  transform: rotate(45deg) translate(-50%, -50%);
  top: calc(50% + 12px);
  left: calc(50% - 5px);
}
.sign-up-container .close::after {
  transform: rotate(-45deg) translate(-50%, -50%);
  top: calc(50% - 15px);
  left: calc(50% - 2.5px);
}
.sign-up-container .close:hover::before, .sign-up-container .close:hover::after {
  background-color: #fff0f3;
}
.sign-up-container form {
  background-color: #ff4d6d;
  background-image: linear-gradient(-50deg, #c51849, #ff758f);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  padding: 10px;
  padding-top: 50px;
  padding-right: 50px;
  border-radius: 25px;
  box-shadow: 3px 5px 10px #000a;
  transition: all 1s !important;
  color: #222222;
}
.sign-up-container form > div:not(.close) {
  display: flex;
  margin: 10px;
  padding: 10px;
  min-width: 400px;
  width: 550px;
}
.sign-up-container form > div:not(.close) * {
  width: 50%;
  font-size: 15pt;
}
.sign-up-container form > div:not(.close) label {
  text-align: right;
  margin-right: 20px;
  position: relative;
}
.sign-up-container form > div:not(.close) label span {
  display: block;
  width: fit-content;
  float: right;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 7%;
}
.sign-up-container form > div:not(.close) label span::after {
  content: ":";
}
.sign-up-container form > div:not(.close) input {
  border: 4.5px solid #ff758f;
  padding: 7px 15px;
  background-color: #ff758f;
  border-radius: 10px;
  color: #222222;
  outline: none;
  transition: all 0.25s;
  font-family: "JetBrains Mono";
}
.sign-up-container form > div:not(.close) input:hover {
  background-color: #ff617e;
}
.sign-up-container form > div:not(.close) input:focus {
  background-color: #ff4d6d;
}
.sign-up-container form input[type=submit] {
  margin: 15px 10px;
  padding: 10px 20px;
  border: 4.5px solid #ff758f;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ff758f;
  transition: all 0.25s;
  margin-bottom: 25px;
  color: #222222;
  font-size: 17pt;
  font-family: "JetBrains Mono";
  font-weight: bold;
}
.sign-up-container form input[type=submit]:hover, .sign-up-container form input[type=submit]:focus {
  background-color: #ffb3c1;
}
@media screen and (min-width: 1060px) {
  .sign-up-container form {
    left: 30%;
    animation: fade-in 1s;
  }
  .sign-up-container.closing form {
    left: -100%;
  }
}
@media screen and (max-width: 1060px) {
  .sign-up-container form {
    left: 50%;
    animation: fade-in-small 1s;
  }
  .sign-up-container.closing form {
    left: -100%;
  }
}
@media screen and (max-width: 640px) {
  .sign-up-container form {
    border-radius: 0;
  }
  .sign-up-container form > div {
    flex-direction: column;
  }
  .sign-up-container form > div * {
    width: 100% !important;
  }
  .sign-up-container form > div label {
    margin: 7px;
  }
  .sign-up-container form > div label span {
    top: 0;
    transform: translate(0, 0) !important;
    position: relative !important;
    float: left !important;
    text-align: left;
    right: 0 !important;
  }
  .sign-up-container form > div label span::after {
    content: "" !important;
  }
}
@media screen and (max-width: 440px) {
  .sign-up-container form > div:not(.close) {
    min-width: 0 !important;
  }
  .sign-up-container form > div:not(.close) input {
    margin: auto;
  }
}

@keyframes fade-in {
  from {
    left: -100%;
  }
  to {
    left: 30%;
  }
}
@keyframes fade-in-small {
  0% {
    left: -100%;
  }
  100% {
    left: 50%;
  }
}
@keyframes fade-in-background {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 77, 109, 0.1);
  }
}

/*# sourceMappingURL=sign-up.css.map */
