@import './scheme'
    
.sign-up-container
    position: fixed 
    background-color: transparentize($color5, 0.9)  
    height: 100% 
    width: 100% 
    z-index: 100
    animation: fade-in-background 1s
    transition: all 1s
    &.closed
        display: none
    &.closing
        background-color: transparent
        form 
            left: -100%
    
    .close
        position: absolute
        width: fit-content
        right: 15px
        top: 15px
        height: 50px
        min-width: 50px
        cursor: pointer
        &::before, &::after 
            content: ''
            display: block 
            background-color: $color7
            position: absolute
            transform: translate(-50%, -50%)
            top: 50% 
            left: 50%
            height: 5px 
            min-width: 40px    
            border-radius: 5px
            transition: all 0.25s
        &::before 
            transform: rotate(45deg) translate(-50%,-50%)
            top: calc(50% + 12px)
            left: calc(50% - 5px)
        &::after 
            transform: rotate(-45deg) translate(-50%, -50%)
            top: calc(50% - 15px)
            left: calc(50% - 2.5px)
        &:hover 
            &::before, &::after
                background-color: $color8
    form 
        background-color: $color5 
        background-image: linear-gradient(-50deg, mix($color3, $color4, 10%), $color6)
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        padding: 10px
        padding-top: 50px
        padding-right: 50px
        border-radius: 25px
        box-shadow: 3px 5px 10px #000a
        transition: all 1s!important
        color: $color0
        & > div:not(.close) 
            display: flex 
            margin: 10px
            padding: 10px
            min-width: 400px
            width: 550px
            * 
                width: 50%
                font-size: 15pt
            label 
                text-align: right
                margin-right: 20px
                position: relative            
                span 
                    display: block 
                    width: fit-content
                    float: right
                    position: absolute
                    transform: translate(0, -50%)
                    top: 50%
                    right: 7%
                    &::after 
                        content: ':'

            input 
                border: 4.5px solid $color6
                padding: 7px 15px
                background-color: $color6
                border-radius: 10px
                color: $color0
                outline: none
                transition: all 0.25s
                font:
                    family: 'JetBrains Mono'
                &:hover 
                    background-color: mix($color6, $color5, 50%)
                &:focus 
                    background-color: $color5

        input[type = 'submit']
            margin: 15px 10px
            padding: 10px 20px
            border: 4.5px solid $color6
            outline: none
            border-radius: 10px
            cursor: pointer
            background-color: $color6
            transition: all 0.25s
            margin-bottom: 25px
            color: $color0
            font:
                size: 17pt
                family: 'JetBrains Mono'
                weight: bold
            &:hover, &:focus 
                background-color: $color7
    @media screen and (min-width: 1060px)
        form 
            left: 30%
            animation: fade-in 1s
        &.closing
            form
                left: -100%
                
    @media screen and (max-width: 1060px)
        form 
            left: 50%
            animation: fade-in-small 1s
        &.closing
            form
                left: -100%
    
    @media screen and (max-width: 640px)
        form
            border-radius: 0
            & > div
                flex-direction: column
                * 
                    width: 100%!important
                label 
                    margin: 7px
                    span 
                        top: 0
                        transform: translate(0, 0)!important
                        position: relative!important
                        float: left!important
                        text-align: left
                        right: 0!important
                        &::after 
                            content: ''!important

    @media screen and (max-width: 440px)
        form > div:not(.close) 
            min-width: 0!important
            input 
                margin: auto

@keyframes fade-in
    from 
        left: -100% 
    to 
        left: 30%

@keyframes fade-in-small
    0%
        left: -100%
    100%
        left: 50%

@keyframes fade-in-background
    0%
        background-color: transparent
    100%
        background-color: transparentize($color5, 0.9)